.chaopai_header{
	width:100%;
	height:.88rem;
	background-color: #212121;
	color:#fff;
	text-align: center;
	line-height: .88rem;
	font-size:.36rem;
    /*padding-bottom:3em;*/
    
    position: fixed;
    top:0;
    z-index: 999;
}
.chaopai_header{
	/*position: relative;*/
}
.chaopai_header span{
	position:absolute;
	top:0;
	left:.55rem;
}
.chaopai_header span a{
	color:#fff;
	text-decoration: none;
	font-size: .36rem;
}
/*banner*/
.chaopai_banner{
	width:100%;
    box-sizing: border-box;
    margin-top:.88rem;
}
.chaopai_banner .chaopai_intro{
	width:100%;
	height:1.78rem;
	line-height: 1.78rem;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	position: relative;
}
.chaopai_pic{
	float: left;
}
.chaopai_banner .chaopai_intro img{
	margin-left:.24rem;
	width:1.18rem;
	border-radius: 50%;
}
.chaopai_text{
	display: inline-block;
	margin-left:.24rem;
	float: left;
	height: 100%;
    padding: .25rem .2rem;
	/*margin-top: .34rem;
	margin-bottom: .34rem;*/
}
.chaopai_text h4{
	font-size: .18rem;
	color:#949494;
	/*margin-bottom: .2rem;*/
	/*padding-top:.2rem;*/

}
.chaopai_text h4:first-child{
	color:#000;
	font-weight: bold;
	padding-bottom: .17rem;
}
.chaopai_text h4:nth-child(2){
	padding-bottom: .24rem;
	
}
.chaopai_work{
	/*float:right;*/
	/*margin-right:.26rem;*/
	position:absolute;
	top:-.5rem;
	right:.26rem;
	/*margin-top:.25rem;*/
	
}
.chaopai_work a{
	float:right;

	font-size: .16rem;
	color:#949494;
}
/*.chaopai_text b{
	margin-top: .34rem;
	
}*/