	<!--<div class="chaopai_box">-->
		<div class="chaopai_header">
			<span><a ><</a></span>
			<p>{{title}}</p>
		</div>
		<div class="chaopai_banner">
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai03.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Jadah</h4>
					<h4>品牌创始人，设计师</h4>
					<h4>男装</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
			<div class="chaopai_intro">
				<div class="chaopai_pic">
					<img src="./../../../assets/img/chaopai/chaopai02.jpg" alt="">
				</div>
				<div class="chaopai_text">
					<h4>Mashairi</h4>
					<h4>品牌创始人</h4>
					<h4>配饰</h4>
				</div>
				<div class="chaopai_work">
					<a>266作品</a>
				</div>
			</div>
		</div>
	<!--</div>-->