<div class="guang_header">
    <div class="guang_header_top">
        <a class="iconfont icon-sousuo icon-sousuoguang"></a>
        <a class="iconfont icon-yduierweimasaomiao erweima"></a>
        <input type="text" value="搜索好设计" id="sousuo_input">
        <a class="iconfont icon-comments liuyan"></a>
    </div>
</div>
<div class="guang_banner">
    <ul class="icon_banner">
        <li>
            <a class="iconfont icon-nvzhuang"></a>
            <br>
            <b>女人</b>
        </li>
        <li>
            <a class="iconfont icon-male"></a>
            <br>
            <b>男人</b>
        </li>
        <li>
            <a class="iconfont icon-shipin"></a>
            <br>
            <b>饰品</b>
        </li>
        <li>
            <a class="iconfont icon-xiangbao1"></a>
            <br>
            <b>箱包</b>
        </li>
    </ul>
    <ul class="icon_banner1">
        <li>
            <a class="iconfont icon-icon-test"></a>
            <br>
            <b>配件</b>
        </li>
        <li>
            <a class="iconfont icon-jiajupeishi"></a>
            <br>
            <b>生活家居</b>
        </li>
        <li>
            <a class="iconfont icon-lingshi1"></a>
            <br>
            <b>好吃的</b>
        </li>
        <li>
            <a class="iconfont icon-liwu2"></a>
            <br>
            <b>礼物</b>
        </li>
    </ul>
</div>
<div class="guang_banner_pic">
    <img src="./../../../assets/img/guang/guang01.jpg" alt="">
    <div class="guang_pic_text">
        <b>给自己一个悠然的午后</b>
        <span></span>
        <p>茶壶&水杯</p>
        <div>查看全部</div>
    </div>
    <div class="tubiao"></div>
</div>
<div class="guang_lunbo">
        <swiper class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" >
                        <img src="./../../../assets/img/guang/guang02.jpg" alt="">
                    </div>
                    <div class="swiper-slide" >
                        <img src="./../../../assets/img/guang/guang03.jpg" alt="">
                    </div>
                     <div class="swiper-slide" >
                        <img src="./../../../assets/img/guang/guang04.jpg" alt="">
                    </div>
                </div>
            </swiper>
    <!-- <ul class="guang_lunbo_pics">
        <li>
            <a>
                <img src="./../../../assets/img/guang/guang02.jpg" alt="">
            </a>
        </li>
        <li>
            <a>
                <img src="./../../../assets/img/guang/guang03.jpg" alt="">
            </a>
        </li>
        <li>
            <a>
                <img src="./../../../assets/img/guang/guang04.jpg" alt="">
            </a>
        </li>
        <li>
            <a>
                <img src="./../../../assets/img/guang/guang05.jpg" alt="">
            </a>
        </li>
    </ul> -->
</div>
<app-footer></app-footer>