<div class="all">
    <div class="myinfon_header">
        <a class="iconfont icon-talk right_top"></a>
        <div class="login_btn">
            <b>在这里，找到属于你的不一样</b>
            <a id="login_btn">登陆/注册</a>
        </div>
        <div class="myinfo_header_bottom">
            <div class="info_gz">
                <div>
                    <span>12</span>
                    <br>
                    <b>关注</b>
                </div>
                <div>
                    <span>16</span>
                    <br>
                    <b>粉丝</b>
                </div>
            </div>
            <a class="bianj">编辑资料</a>
        </div>
    </div>
    <div class="myinfo_banner">
        <ul class="myinfo_table">
            <li>
                <a class="iconfont icon-dingdan1"></a>
    
                <b>我的订单</b>
            </li>
            <li>
                <a class="iconfont icon-daohanggouwuche"></a>
                <b>购物车</b>
            </li>
            <li>
                <a class="iconfont icon-weibiaoti2fuzhi02"></a>
                <b>我的优惠券</b>
            </li>
    
        </ul>
        <ul class="myinfo_table">
            <li>
                <a class="iconfont icon-heart"></a>
    
                <b>喜欢的好物</b>
            </li>
            <li>
                <a class="iconfont icon-dianpu1"></a>
                <b>设计师入住</b>
            </li>
                <li>
                    <!-- <a class="iconfont icon-talk"></a>
                    <b>我的优惠券</b> -->
                </li>
        </ul>
    </div>
    <div class="info_tashuo">
        TA 说
    </div>
    <div class="info_like">
        <a class="iconfont icon-yixihuan"></a>
        <span>0 已喜欢</span>
        <b>></b>
    </div>
    <div class="info_jianyi">
        <div class="info_jianyi_one">
            <a class="iconfont icon-yijianfankui"></a>
            <span>意见反馈</span>
            <b>></b>
        </div>
        <div class="info_jianyi_two">
            <a class="iconfont icon-shezhi"></a>
            <span>设置</span>
            <b>></b>
        </div>
    </div>
<app-footer></app-footer>
    
</div>