<div class="sheji_banner">
    <div class="sheji_bj">
        <p>老鬼|LaoGui老鬼造物</p>
        <p>品牌创始人、产品设计师</p>
        <p>箱包 &nbsp;&nbsp;中国风</p>
    </div>
    <div class="sheji_nav">
        <ul>
            <li>
                <a>行业</a>
            </li>
            <li>
                <a>风格</a>
            </li>
        </ul>
    </div>
    <div class="shejishi_pics">
        <div class="sheji_pic">
            <img src="./../../../../assets/img/shejishi/shejishi06.jpg" alt="">
            <div class="sheji_title">
                <p>箱包</p>
            </div>
        </div>
        <div class="sheji_pic">
            <img src="./../../../../assets/img/shejishi/shejishi02.jpg" alt="">
            <div class="sheji_title">
                <p>生活家居</p>
            </div>
        </div>
    </div>
    <div class="shejishi_pics">
        <div class="sheji_pic">
            <img src="./../../../../assets/img/shejishi/shejishi06.jpg" alt="">
            <div class="sheji_title">
                <p>女装</p>
            </div>
        </div>
        <div class="sheji_pic">
            <img src="./../../../../assets/img/shejishi/shejishi02.jpg" alt="">
            <div class="sheji_title">
                <p>男装</p>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>