<div id="footer">

    <div class="index_footer">
        <ul>
            <li [routerLink]="['/home']">
                <a class="iconfont icon-zhuantifuwu"></a>
                <b>专题</b>
            </li>
            <li [routerLink]="['/designer-list']">
                <a class="iconfont icon-shejishijianzhushi"></a>
                <b>设计师</b>
            </li>
            <li [routerLink]="['/shesay-list']">
                <a class="iconfont icon-duihua"></a>
                <b>ta说</b>
            </li>
            <li [routerLink]="['/shop-home']">
                <a class="iconfont icon-gouwu"></a>
                <b>逛</b>
            </li>
            <li [routerLink]="['/login-input']">
                <a class="iconfont icon-wode"></a>
                <b>我的</b>
            </li>
        </ul>
    </div>
</div>