<div class="shop_home">
    <div class="intro_header">
      <span><a ><</a></span>
      <p>男人</p>
      <a  class="iconfont icon-shipin"></a>
      <a  class="iconfont icon-shipin"></a>
    </div>
    <div class="intro_banner">
      <ul class="intro_banner_header">
        <li>推荐<a  class="iconfont icon-shipin"></a></li>
        <li>选择分类<a  class="iconfont icon-shipin"></a></li>
        <li>筛选<a  class="iconfont icon-shipin"></a></li>
      </ul>
      <ul class="intro_banner_pics">
        <li>
          <img src="./../../../assets/img/shejishi/shejishi06.jpg" alt="">
          <span>￥189.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
        <li>
          <img src="./../../../assets/img/shejishi/shejishi04.jpg" alt="">
          <span>￥199.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
    
        <li>
          <img src="./../../../assets/img/shejishi/shejishi02.jpg" alt="">
          <span>￥169.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
        <li>
          <img src="./../../../assets/img/shejishi/shejishi06.jpg" alt="">
          <span>￥120.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
    
        <li>
          <img src="./../../../assets/img/shejishi/shejishi06.jpg" alt="">
          <span>￥200.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
        <li>
          <img src="./../../../assets/img/shejishi/shejishi04.jpg" alt="">
          <span>￥359.00</span>
          <div class="intro_title">
            <b>两针一线</b>
            <b>情侣鞋*休闲</b>
            <a class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
          </div>
        </li>
      </ul>
    </div>
    <app-footer></app-footer>
</div>
