<nz-tabset>
	<nz-tab>
	  <ng-template #nzTabHeading>
		发现
	  </ng-template>
	  <div class="tashuo_banner">
		<div class="tashuo_banner_top">
			<div class="tashuo_pic">
				<img src="./../../../assets/img/chaopai/chaopai05.jpg" alt="">
			</div>
			<div class="tashuo_text">
				<h4>想去主菌</h4>
				<h4>想去颜值担当</h4>
			</div>
			<div class="tashuo_guanzhu"><a href="#" class="iconfont icon-liwu2"></a></div>
		</div>
		<div class="tashuo_banner_all">
			<b>大胸买不到时髦的衣服，这美妞索性开了间学校，专教妹子变甜美性感</b>
			<img src="./../../../assets/img/tashuo/tashuo01.jpg" alt="">
			<span>每个时代都有不同的美</span><br>
			<span>拥有其独特的魅力……</span>
		</div>
		<div class="tashuo_banner_footer">
			<div class="tashuo_left">
				<a href="#" class="iconfont icon-heart icon-heart2">
					<span>12</span>
				</a>
				<a href="#" class="iconfont icon-comments icon-comments2">
					<span>1</span>
				</a>
			</div>
			
			<a href="#" class="time">01-12 18:00</a>
		</div>
	  </div>
	</nz-tab>
	<nz-tab>
		<ng-template #nzTabHeading>
		  关注
		</ng-template>
		<div class="tashuo_banner">
				<div class="tashuo_banner_top">
					<div class="tashuo_pic">
						<img src="./../../../assets/img/chaopai/chaopai05.jpg" alt="">
					</div>
					<div class="tashuo_text">
						<h4>想去主菌</h4>
						<h4>想去颜值担当</h4>
					</div>
					<div class="tashuo_guanzhu"><a href="#" class="iconfont icon-liwu2"></a></div>
				</div>
				<div class="tashuo_banner_all">
					<b>大胸买不到时髦的衣服，这美妞索性开了间学校，专教妹子变甜美性感</b>
					<img src="./../../../assets/img/tashuo/tashuo01.jpg" alt="">
					<span>每个时代都有不同的美</span><br>
					<span>拥有其独特的魅力……</span>
				</div>
				<div class="tashuo_banner_footer">
					<div class="tashuo_left">
						<a href="#" class="iconfont icon-heart icon-heart2">
							<span>12</span>
						</a>
						<a href="#" class="iconfont icon-comments icon-comments2">
							<span>1</span>
						</a>
					</div>
					
					<a href="#" class="time">01-12 18:00</a>
				</div>
			  </div>
	  </nz-tab>
  </nz-tabset>
<a href="#" class="iconfont icon-sousuo icon-sousuo1"></a>
  
  <a href="#" class="iconfont icon-comments icon-comments1"></a>
<!-- <div class="tashuo_header"></div> -->
		<!-- <div class="tashuo_header_top">
			
			<ul class="tashuo_nav">
				<li><a href="#">发现</a></li>
				<li><a href="#">关注</a></li>
			</ul>
			
		</div> -->
	<!-- <div class="tashuo_banner">
		<div class="tashuo_banner_top">
			<div class="tashuo_pic">
				<img src="./../../../assets/img/chaopai/chaopai05.jpg" alt="">
			</div>
			<div class="tashuo_text">
				<h4>想去主菌</h4>
				<h4>想去颜值担当</h4>
			</div>
			<div class="tashuo_guanzhu"><a href="#" class="iconfont icon-liwu2"></a></div>
		</div>
		<div class="tashuo_banner_all">
			<b>大胸买不到时髦的衣服，这美妞索性开了间学校，专教妹子变甜美性感</b>
			<img src="./../../../assets/img/tashuo/tashuo01.jpg" alt="">
			<span>每个时代都有不同的美</span><br>
			<span>拥有其独特的魅力……</span>
		</div>
		<div class="tashuo_banner_footer">
			<div class="tashuo_left">
				<a href="#" class="iconfont icon-heart icon-heart2">
					<span>12</span>
				</a>
				<a href="#" class="iconfont icon-comments icon-comments2">
					<span>1</span>
				</a>
			</div>
			
			<a href="#" class="time">01-12 18:00</a>
		</div>
	</div> -->
	<!-- <div class="tashuo_banner">
		<div class="tashuo_banner_top">
			<div class="tashuo_pic">
				<img src="./../../../assets/img/chaopai/chaopai05.jpg" alt="">
			</div>
			<div class="tashuo_text">
				<h4>想去主菌</h4>
				<h4>想去颜值担当</h4>
			</div>
			<div class="tashuo_guanzhu"><a href="#" class="iconfont icon-liwu2"></a></div>
		</div>
		<div class="tashuo_banner_all">
			<b>大胸买不到时髦的衣服，这美妞索性开了间学校，专教妹子变甜美性感</b>
			<img src="./../../../assets/img/tashuo/tashuo01.jpg" alt="">
			<span>每个时代都有不同的美</span><br>
			<span>拥有其独特的魅力……</span>
		</div>
		<div class="tashuo_banner_footer">
			<div class="tashuo_left">
				<a href="#" class="iconfont icon-heart icon-heart2">
					<span>12</span>
				</a>
				<a href="#" class="iconfont icon-comments icon-comments2">
					<span>1</span>
				</a>
			</div>
			
			<a href="#" class="time">01-12 18:00</a>
		</div>
	  </div> -->
	<!-- </div> -->
  <app-footer></app-footer>