<div class="product-intro">
    <div class="top-header" [@heroState]="scrollY > top? 'active':'inactive'">
        <div class="productintro_return">
            <a (click)="goback()">返回</a>
        </div>
        <div class="productintro_right_1">
            <a class="iconfont icon-liwu2"></a>
        </div>
        <div class="productintro_right_2">
            <a class="iconfont icon-liwu2"></a>
        </div>
    </div>
    <div class="product_img">
        <img src="./../../../assets/img/guang/guang01.jpg" alt="">
    </div>
    <div class="product_intro_top column">
        <div class="product_banner">
            <div class="product_title">
                <p>多功能口袋拼色运动技能束脚长裤</p>
            </div>
            <div class="product_price_like">
                <div class="product_price">
                    <span>￥468.00</span>
                    <span>邮费:10.0元</span>
                </div>
                <div class="product_like">
                    <a class="iconfont icon-liwu2"></a>
                    <span>123</span>
                </div>
            </div>
            <div class="product_get">
                <span>*</span>
                <b>登陆后，分享该商品即可获得1张满减券</b>
            </div>
            <div class="product_promise">
                <a class="iconfont icon-liwu2"></a>
                <b>48小时发货</b>
                <a class="iconfont icon-liwu2"></a>
                <b>担保交易</b>
            </div>
        </div>
    </div>
    <div class="product_intro_center column">
        <div class="center_people">
            <a class="iconfont icon-liwu2"></a>
            <div class="center_title">
                <span>主理人:</span>
                <b>d.o.c.中原社</b>
            </div>
            <a class="iconfont icon-liwu2"></a>
        </div>
        <div class="center_intro">
            <div class="center_intro_top">
                <a class="iconfont icon-liwu2"></a>
                <div class="center_title">
                    <span>品牌:</span>
                    <b>d.o.c.中原社</b>
                </div>
                <a class="iconfont icon-liwu2 ret"></a>
            </div>
            <div class="intro_detail">
                [d.o.c]是【original design od China】的缩写，其含义是【中国原创设计】，中文名称【中原社】。
            </div>
        </div>
    </div>
    <div class="intro_wx column">
        <div class="center_intro_weixin">
            加想去君微信:xiaoxiaoxin-mcyt，成为本君好友，超多好友福利，带你认识更多设计师哦~
        </div>
    </div>
    <div class="intro_like column">
        <div class="center_like">
            <div class="like_title">喜欢
                <span>12</span>
            </div>
            <div class="center_like_pic">
                <a>
                    <img src="./../../../assets/img/chaopai/chaopai01.jpg" alt="">
                </a>
                <a>
                    <img src="./../../../assets/img/chaopai/chaopai01.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>