body{
    background-color: #ddd;
}
.product_intro_top{
    width:100%;
    position:relative;
}
.productintro_return a,.productintro_right_1 a,.productintro_right_2 a{
    font-size: .28rem;
    color:#fff;
}
.productintro_return{
    position:fixed;
    top:.3rem;
    left:.3rem;
    width:.7rem;
    height:.7rem;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: .7rem;
}
.productintro_right_1{
    position:fixed;
    top:.3rem;
    right:1rem;
    width:.6rem;
    height:.6rem;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: .6rem;
}
.productintro_right_2{
    position:fixed;
    top:.3rem;
    right:.3rem;
    width:.6rem;
    height:.6rem;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: .6rem;
}

.product_banner{
    width:100%;
}
.product_img{
    width:100%;
    /*height: 8rem;*/
}
.product_img img{
    width:100%;
}

.product_title{
    font-size:.28rem;
    margin-top:.3rem;
    padding-left:.2rem;
}

.product_price_like{
    width:95%;
    height:.8rem;
    /*text-align: center;*/
    margin: 0 auto;
    position: relative;
    margin-top:.1rem;
    border-bottom:1px dashed darkkhaki;
    
}
.product_price{
    position: absolute;
    top:0;
    left:.2rem;
    
}

.product_price span:first-child{
    display: block;
    color:darkkhaki;
    
}
.product_like{
    position: absolute;
    top:0;
    right:.2rem;
    text-align: center;
}
.product_like a{
    font-size: .28rem;
    color:#000;
    display: block;
}

.product_get,.product_promise{
    width:100%;
    margin: 0 auto;
    margin-top:.1rem;
    
}
.product_get span{
    font-size: .28rem;
    color:darkkhaki;
}
.product_get b{
    font-size: .28rem;
    color:#ddd;
    font-weight: normal;
}
.product_promise{
    border-top:1px solid #ddd;
    padding-left:.3rem;
}
.product_get{
    padding-left:.3rem;
}
.product_promise a,.product_promise b{
    font-size: .28rem;
    color:#ddd;
    font-weight: normal;
}
.product_promise b{
    margin-right:.3rem;
}
.product_intro_top{
    border:1px solid red;
}



/*center部分*/
.product_intro_center{
    margin-top:.3rem;
    border:1px solid blue;
    width:100%;
    background-color: #fff;
}
.center_people,.center_intro,.center_intro_weixin,.center_like{
    width:96%;
    margin:0 auto;
}
.center_people,.center_intro{
    position: relative;
}
.center_people a:first-child,.center_intro a:first-child{
    position: absolute;
    top:0;
    left:0;
    font-size:.28rem;
    color:#ddd;
}
.center_people a:last-child,.center_intro a.ret{
    position: absolute;
    top:0;
    right:0;
    font-size:.28rem;
    color:#ddd;
}
.center_people{
    height:.8rem;
    line-height: .8rem;
    border-bottom: 1px solid #ddd;
}
.center_title{
    padding-left:.4rem;
}
.intro_detail{
    /*padding-left:.5rem;*/
    font-size: .28rem;
}


.center_intro_weixin{
    margin-top:.3rem;
    width:98%;
    border:1px solid red;
    font-size: .28rem;
    
}

.center_like{
    margin-top:.3rem;
    border:1px solid sandybrown;
}
.like_title{
    font-size: .28rem;
    color:#000;
    font-weight: bold;
    margin-bottom: .1rem;
}
.center_like_pic a img{
    width:.8rem;
    height:.8rem;
    border-radius: 50%; 
    margin-right:.1rem;
}