<div class="input_header">
  <div class="input_header_top">
      <div class="input_header_left">
			  <a href="#" class="iconfont icon-sousuo icon-sousuo1"></a>
      </div>
			<div class="pwd_login">密码登录</div>
      <div class="inpput_header_right">
			  <a href="#" >短信登录</a>
      </div>
		</div>
</div>
<div class="login_input_banner">
  <div>
    <form action="#" >
      <input type="text" name="uname" value="" placeholder="请输入手机号或邮箱">
      <input type="password" name="upwd" value="" placeholder="请输入密码">    
    </form>
    <input type="text" name="btn" placeholder="登录" id="dl">
  </div>
</div>
<div class="login_forget">
  <div class="login_forget_left">
    <a href="#">忘记密码</a>
  </div>
  <div class="login_forget_right">
    <a href="#">没有账号?注册</a>
  </div>
</div>
<div class="login_footer">
  <p>--其他登录方式--</p>
  <div class="login_all">
    <div class="wx">
    <a href="#" class="iconfont icon-sousuo icon-sousuo1"></a>
    </div>
    <div class="wb">
      <a href="#" class="iconfont icon-sousuo icon-sousuo1"></a>
    </div>
    <div class="qq">
      <a href="#" class="iconfont icon-sousuo icon-sousuo1"></a>
    </div>
  </div>
  
</div>