<div class="home-shopping">
    <div class="intro_header">
        <span><a [routerLink]="['/home']">返回</a></span>
        <p>专题精选</p>
      </div>
      <div class="intro_banner" (touchstart)="yidong($event)">
        <ul class="intro_banner_pics" >
          <li *ngFor="let item of shopIntroList">
            <img [src]="item?.src" alt="">
            <span>{{item.price}}</span>
            <div class="intro_title">
              <b>{{item.stitle}}</b>
              <b>{{item.spec}}</b>
              <a  class="iconfont icon-shipin">&nbsp;&nbsp;&nbsp;<span>0</span></a>
            </div>
          </li>
        </ul>
      </div>
</div>